logo {
    font-family: 'Rancho', cursive;
}

@media (min-width: 992px) {
    li {
        margin: 0 20px;
    }
}

@media (max-width: 700px) {
    .pad1 {
        padding-top: 100px;
    }
}

.signUp {
    background-color: white;
    border: 0;
    border-radius: 50px;
}

.signUp:hover {
    background-color: #54ABEE;
    border: 1px solid white;
    border-radius: 50px;
}

.signUp a {
    color: #54ABEE !important;
    font-weight: bold;
}

.signUp a:hover {
    color: white !important;
    font-weight: bold;
}

.active a {
    padding: 0.5rem 2rem;
    border: 1px solid black;
    color: black !important;
    font-weight: bold;
}

.svg {
    background-image: url('../../assets/MaskGroup1.svg');
    background-size: cover;
    background-position: center;
}

.height {
    height: 100%;
}

.heights {
    height: 100%;
    padding-top: 100px;
}

h1 {
    font-size: 60px;
}

.pad {
    padding-top: 10%;
}

.kick-start {
    font-weight: bold;
    color: white;
    padding-top: 50px;
}

.bg1 {
    background-image: url('../../assets/Groupx.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.whites {
    color: white !important;
}