<!--Main Navigation-->
<header>

    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <!-- Navbar brand -->
        <logo>
            <a style="font-size: 59px;color: black;" class="navbar-brand">
                <img class="logo" src="../../assets/new_logo.png" alt="">
            </a>
        </logo>
        <!-- Collapsible content -->
        <links>
            <!-- Links -->
            <ul class="navbar-nav ml-auto margin">
                <li class="nav-item">
                    <a routerLink='' class="nav-link waves-light" mdbRippleRadius>Home</a>
                </li>
                <li class="nav-item active">
                    <a routerLink='/howitworks' class="nav-link waves-light" mdbRippleRadius>How It Works</a>
                </li>
                <li class="nav-item">
                    <a routerLink='/services' class="nav-link waves-light" mdbRippleRadius>Services</a>
                </li>
                <li class="nav-item">
                    <a routerLink='/contact' class="nav-link waves-light" mdbRippleRadius>Contact</a>
                </li>

                <!-- <li class="nav-item signUp">
                    <a class="pl-5 pr-5 nav-link waves-light" mdbRippleRadius>Sign Up</a>
                </li> -->
            </ul>
            <!-- Links -->


        </links>
    </mdb-navbar>

    <!--Intro Section-->
    <section class="view intro-3">
        <div class="full-bg-img">
            <div class=" container-fluid  heights">
                <div class="row  ">
                    <div class="col-md-12 text-center" style="margin-bottom: 1%;">
                        <div class="padd pads" style="padding-left:100px;">
                            <div style="display: inline-block" class="row">
                                <div class="col-12 text-center padd " style="padding-left:25%;">
                                    <h3 style=" font-size:40px;" class="kick-start ">"KICK START YOUR BUSINESS"</h3>
                                </div>
                            </div>

                            <img style="-webkit-transform: scaleX(-1);
                            width: 150px;
                            display: inline;
                            transform: scaleX(-1);" class="pull-right mr-5 img-fluid imgs" src=" ../../assets/startup.svg " alt=" ">
                        </div>
                    </div>


                    <div style="height:280px; margin-top: 13px;" class="col-md-12 text-center">
                        <div class="row mt-5">
                            <div class="col-lg-3  mb-5">
                                <img src="../../assets/Group161.svg" style="width:200px;margin:0 auto;" alt="">

                            </div>
                            <div class="col-lg-3  mb-5">
                                <img src="../../assets/Group165.svg" style="width:200px;margin:0 auto;" alt="">

                            </div>
                            <div class="col-lg-3  mb-5">
                                <img src="../../assets/Group163.svg" style="width:200px;margin:0 auto;" alt="">

                            </div>
                            <div class="col-lg-3  mb-5">
                                <img src="../../assets/Group164.svg" style="width:200px;margin:0 auto;" alt="">

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

</header>
<!--Main Navigation-->