<!--Main Navigation-->
<header>

    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <!-- Navbar brand -->
        <logo>
            <a style="font-size: 59px;color: black;" class="navbar-brand">
                <img class="logo" src="../../assets/new_logo.png" alt="">
            </a>
        </logo>
        <!-- Collapsible content -->
        <links>

            <!-- Links -->
            <ul class="navbar-nav ml-auto margin">
                <li class="nav-item">
                    <a routerLink='' class="nav-link waves-light" mdbRippleRadius>Home</a>
                </li>
                <li class="nav-item ">
                    <a routerLink='/howitworks' class="nav-link waves-light" mdbRippleRadius>How It Works</a>
                </li>
                <li class="nav-item active">
                    <a routerLink='/services' class="nav-link waves-light" mdbRippleRadius>Services</a>
                </li>
                <li class="nav-item">
                    <a routerLink='/contact' class="nav-link waves-light" mdbRippleRadius>Contact</a>
                </li>

                <!-- <li class="nav-item signUp">
                    <a class="pl-5 pr-5 nav-link waves-light" mdbRippleRadius>Sign Up</a>
                </li> -->
            </ul>
            <!-- Links -->


        </links>
    </mdb-navbar>

    <!--Intro Section-->
    <section class="view intro-4">
        <div class="full-bg-img">
            <div class=" container-fluid  heights pr-0 pl-0">
                <div class="row" style="height: 100%;">
                    <div class="col-md-12 text-center">
                        <h2 class="kick-start mb-0">OUR SERVICES</h2>
                    </div>

                    <div class="col-md-12 " data-wow-delay="0.3s ">
                        <div class="row no-gutters" style="height: 100%;">
                            <div class="col-lg-4">
                                <a style="cursor:default;">
                                    <img class="" style="padding-top: 30px;" src="../../assets/Group2479.svg" alt="">
                                    <div style="    padding-top:77%;" class="mask text-center">
                                        <a href="https://form.myjotform.com/80597090627565" target="_blank" class="btn btn-round hoverable">N65,000</a>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-4">
                                <a style="cursor:default;">
                                    <img class="" style="padding-top: 30px;" src="../../assets/Group2480.svg" alt="">
                                    <div style="    padding-top:77%;" class="mask text-center">
                                        <a href="https://form.myjotform.com/80608279371563" target="_blank" class="btn btn-round hoverable">N6,000</a>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a style="cursor:default;">
                                    <img class="" style="padding-top: 30px;" src="../../assets/Group2481.svg" alt="">
                                    <div style="padding-top:77%;" class="mask text-center">
                                        <a href="https://form.myjotform.com/80608279371563" target="_blank" class="btn btn-round hoverable">N10,000</a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>

</header>
<!--Main Navigation-->