<header>


    <mdb-navbar style="background:#54ABEE;" SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">

        <logo>
            <a style="font-size: 59px;color: black;" class="navbar-brand">
                <img class="logo" src="../../assets/new_logo.png" alt="">
            </a>
        </logo>


        <links>

            <ul class="navbar-nav ml-auto margin">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a routerLink='' class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink='howitworks' class="nav-link waves-light" mdbRippleRadius>How It Works</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink='services' class="nav-link waves-light" mdbRippleRadius>Services</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink='contact' class="nav-link waves-light" mdbRippleRadius>Contact</a>
                </li>

            </ul>



        </links>
    </mdb-navbar>

</header>
<!-- <section class="container flex-center">
    <div class="form-card">
        <div class="form-title">
            <img class="form-image" src="../../assets/new_logo.png" alt="logo">

            <h1 class="h1-responsive text-center flex-center pt-5 pb-5">Web Design Client Questionnaire</h1>
            <div class="pb-5"></div>
            <button class="btn btn-lg btn-block btn-color ">Start <i class="fa fa-arrow-right"></i></button>
        </div>
    </div>
    <div class="form-card">
        <div class="form-title">
            <img class="form-image" src="../../assets/new_logo.png" alt="logo">

            <h1 class="h1-responsive text-center flex-center pt-5 pb-5">Web Design Client Questionnaire</h1>
            <div class="pb-5"></div>
            <button class="btn btn-lg btn-block btn-color ">Start <i class="fa fa-arrow-right"></i></button>
        </div>
    </div>
    <div class="form-card">
        <div class="form-title">
            <img class="form-image" src="../../assets/new_logo.png" alt="logo">

            <h1 class="h1-responsive text-center flex-center pt-5 pb-5">Web Design Client Questionnaire</h1>
            <div class="pb-5"></div>
            <button class="btn btn-lg btn-block btn-color ">Start <i class="fa fa-arrow-right"></i></button>
        </div>
    </div>
</section> -->